
 *{
    -webkit-user-select: none ;
    -khtml-user-select: none ;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
body{
    //background-color: rgb(18,30,49);
    //color: #fff !important;
}

.page-header {
    background-color: #0088cc; 
    min-height: 105px; 
    background-image: url('../img/an.png');  
    background-position: 50px; 
    background-repeat: no-repeat;
    padding:0px;
    padding-bottom: 20px;
    margin:0;


}
.cabecera{ 
    position: relative;
    top: 45px;
    right: 15px;
    width: 100%;
    z-index:2;

}

.cabecera .usuario {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background-color: #007ec1;
    color: #EEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel{
    padding-top: 30px;
}
.creditos{
    position: fixed;
    bottom: 0;
    left:0;
}

.advertencia{
    border-color: #ebccd1;
    color: #a94442;
   
}
.advertencia-cabecera{
    background-color: #f2dede;
    background-image: url("../img/warning.png");
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 55px;
    
}
.advertencia-cuerpo h4{
     line-height: 1.5 !important;
}
.mitabla {

    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.mitabla caption{
    text-align:left;
    font-size: 14pt;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    margin: 10px;
}

.mitabla td {
    padding: 5px;
    padding-bottom:0px;
    border-bottom: 1px solid #dddddd;

}
.mitabla .boton{
    vertical-align: top;
    padding-top: 4px;
}

.mitabla th{
    text-align: center;
}
.mitabla tfoot{
    text-align: right;
}
.mitabla tfoot td{
    border: 0;
}

#Id_Modal_FijarPrecio td {
    padding: 5px;
}

#Id_Tabla_Resumen_Servicio tfoot{
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    
}
#Id_Tabla_Resumen_Servicio tfoot td{
padding-left: 15px;
}

.numerico{
    max-width: 70px;
    text-align: right;
}
h1{
    text-align: center;
}
.tab-pane{
    min-height: 425px;
}

.menu {
    line-height: 40px;
    display: none;
}
.menu a{
    padding: 21px 15px !important;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 6px;
}

.bebidas{
    width: 120px;
    height: 120px; 
    padding: 0px;
    margin: 5px;
    text-align: center;
    white-space: normal;
}
.bebidas > div{
    width: 120px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15pt; 
    font-weight: bold;
    padding: 0px;
    line-height: 1.0;
}
.Precios{
   text-align: center;
    font-size: 9pt;
    width: 100%;
     /*margin-left: 15px;
    margin-right: 15px;*/
    padding: 0px;
}

#id_Caja_Tiempo{
    border: 1px solid #999ddd;
    margin: 2px;
    padding: 2px;
}

a.empleado{
    padding: 5px;
    margin: 5px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
}
a.empleado > div {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 13pt; 
    font-weight: bold;
    padding: 0px;
}
.tecla, .tecla_atras, .tecla_tilde {
    width:46px;
    //height: 46px;
}
/*.tecla, .tecla_atras, .tecla_mayusculas, .tecla_minusculas{
    min-width: 60px;
    min-height: 60px;
}*/
/*.teclado_numerico{
       padding-bottom:0px;
    margin-bottom:0px; 
}*/

.tecla_mayusculas, .tecla_minusculas, .tecla_enter{
    width: 138px;
}

.teclado_mayusculas{
    display: none;
}

#Id_Teclado{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9999;
    display:none;
}

#Id_Teclado .contenido{
    position: relative;
    width: 585px;
    height: 260px;
    text-align:justify;
    padding: 15px;

}
.tecla_espacio{
    width: 414px;
}

.color{
   width: 100px;
}



